@import "tailwindcss/theme";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import 'tailwind-scrollbar-hide/v4';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Nunito', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0e1116;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

#root {
  height: 100vh;
}

#root,
main {
  display: flex;
  flex-direction: column;
  background-color: #31363c;
  gap: 1px;
}

#root #top_bar {
  height: 24px;
  width: 100%;
  background-color: #0e1116;
}

.module {
  background-color: #0e1116;
}

.module-1 {
  background-color: #020409;
}

#root #bottom_bar {
  height: 24px;
  width: 100%;
  background-color: #0e1116;
}